h1 {
    color: #ffffff;
}

.card-header {
    background: linear-gradient(45deg, #ff6b35, #f7931e);
    color: #fff;
}

.pagination .page-link {
    color: #000000; 
}

.pagination .page-item.active .page-link {
    background-color: #ff8c00; 
    border-color: #ff8c00;
    color: rgb(0, 0, 0);
}

.pagination .page-link:hover {
    color: #ff8c00;
}

.img-product {
    width: 50px;
    height: 50px;
    object-fit: cover;
}