.form-card {
    background: #ffffff;
    border-radius: 12px;
}

.btn-secondary {
    font-weight: 400;
}

.btn-secondary:hover {
    transform: translateY(0px);
    border-color: #ff6b35;
}

.btn-danger {
    padding: 13px 35px;
}

.form-card .form-label {
    font-weight: 600;
}

.form-card .form-control {
    padding: 0.75rem 1rem;
}

.form-card .btn-primary {
    padding: 0.75rem 1rem;
}

